*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
}

#hero-image-wrapper{
	width: 100%;
	height: 100vh;
	background: url(../images/foodie.jpg) no-repeat;
	background-size: cover;
}

.overlay-content{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.1);
}
#contact-info{
	margin-top: 10px;
	padding: 10px;
	background-color: black;
	opacity: 0.8;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}
#contact-info > div{
	flex-basis: 200px;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
	padding: 10px;
}
#contact-info span{
	font-size: 1.2em;
	color: white;
}
#social a{
	margin: 3 5px;
	text-decoration: none;
}
#social i{
	color: white;
	padding: 5px;
	border: 1px solid rgb(167 155 155 / 20%);
}

#social .fa-facebook:hover{
	background-color: blue;
}

#social .fa-twitter:hover{
	background-color: skyblue;
}

#social .fa-pinterest:hover{
	background-color: red;
}

/*start navbar styles*/
.navbar{
	margin-top: 10px;
	background-color: transparent;
	border: 1px solid rgba(0, 0, 0, 0.09);
	background-color: rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
}
.navbar .nav-item{
	margin: 0 10px;
}
.navbar .nav-link{
	font-size: 1.2em;
	font-weight: bold;
	color: white !important;
}

.navbar .nav-item:first-child .nav-link{
	color: #bb4d4d !important;
}


/*end navbar styles */

#restaurant-name{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#restaurant-name h1{
	font-size: 4rem;
	color: #bb4d4d;
}
#restaurant-name p{
	font-size: 20px;
	color: white;
	text-shadow: 3px 3px 3px grey;
}


/*start main section styles */
#food-stats .d-flex{
	flex-wrap: wrap;
}

.boxes{
	margin: 0 25px;
	flex-basis: 100px;
	max-width: 170px;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
}
.boxes img{
	width: 100%;
	height: 130px;
	border-radius: 10px;
}

.boxes p{
	margin-top: 5px;
	font-size: 1.2rem;
	font-weight: bold;
}

.boxes:first-child{
	border-bottom: 2px solid black;
}



#managerpic img{
	width: 100%;
	height: 100%;
}

.content-header{
	color: #bb4d4d;
	font-weight: bold;
	font-size: 35px; 
}

.menu{
	display: flex;
	flex-wrap: wrap;
	border: 1px solid lightgrey;
}
.menu-item{
	flex-basis: 400px;
	height: 200px;
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
}
.menu-item > div:last-child{
	background-color: #ffc0c0;
}

.menu-item > div{
	flex-basis: 150px;
	flex-grow: 1;
	flex-shrink: 1;
}

.menu-item h5{
	color: #bb4d4d;
}
.menu-item img{
	width: 100%;
	height: 200px;

}














/*start dessert section styles*/
.dessert-section img{
	width: 120px;
	height: 120px;
	border-radius: 20px;
}
/*end dessert section*/


/*start catering services */
.catering img{
	width: 100px;
	height: 100px;
	border-radius: 20px;
	margin-bottom: 20px;
}

.catering .font-weight-bold{
	font-size: 23px;
	font-family: sans-serif;
}
/*end catering services*/


/*start testimonials section*/
.testimonials img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.testimonials h5{
	font-size: 1.4em;
	font-weight: bold;
	margin: 10px;
}
.testimonials .social a{
	margin: 5px;
	color: black;
	text-decoration: none;
}
.testimonials .social i{
	font-size: 1.3em;
}

/*end testimonials section */



/*end main section styles*/



/*____start of footer styles___________ */
#footer-wrapper{
	background-color: #141313;
	color: white;
}


footer .form-group{
	margin-left: 10px;
}
footer img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
footer .btn-block{
	font-size: 20px;
	font-weight: bold;
	background-color: #bb4d4d;
}


footer p{
	font-size: 20px;
}


/*______end of footer styles_____ */

@media(max-width: 425px){
.content-header{
	font-size: 30px;
}
 .menu-item h4{
 	font-size: 1.2em;
 }

}/* end of query*/

@media (max-width: 650px){
	#food-stats img{
		width: 80px;
		height: 80px;
	}
} /* end of query */

@media (max-width: 768px){
	body{
		/*background-color: red;*/
	}
	#food-stats .boxes{
		margin: 5px;
	}

	#food-stats .col-sm-12 div:first-child h1{
		font-size: 55px;
	}

	#food-stats img{
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	border-radius: 20px;
	}
} /* end of query */


@media( max-width: 576px){
	#restaurant-name h1{
		font-size: 40px;
	}
	#restaurant-name p{
		font-size: 20px;
	}
}

@media( min-width: 768px){
	#restaurant-name h1{
		font-size: 50px;
	}
	#restaurant-name p{
		font-size: 30px;
	}
}




@media( min-width: 1440px){
	#restaurant-name h1{
		font-size: 60px;
	}
	#restaurant-name p{
		font-size: 40px;
	}
}

@media( min-width: 2526px){
	#restaurant-name h1{
		font-size: 100px;
	}
	#restaurant-name p{
		font-size: 70px;
	}
}